[submodule "api"]
	path = api
	url = https://github.com/simplymichael/flash-cards.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/simplymichael/flash-front.git
[submodule "flash-ssr"]
	path = flash-ssr
	url = https://github.com/simplymichael/flash-ssr.git
